@import 'funciones';


.anuncios {
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .anuncios__table {
    @media (max-width: 768px) {
      font-size: 1rem;
      margin: 1rem;
    }
    table {
      thead {
        background-color: $color-primario;
        tr {
          @media (max-width: 768px) {
            padding: 0.1rem;
          }
          th {
            padding: 1rem;
            color: white;
            @media (max-width: 768px) {
              padding: 0.1rem;
            }
          }
        }
      }
      tbody {
        tr {
          padding: 1rem;
          @media (max-width: 768px) {
            padding: 0.1rem;
          }

          &:nth-of-type(even) {
            background-color:AsignarColor('secundario-transparente');
          }

          td {
            @media (max-width: 768px) {
              width: 10vw;
            }
            img {
              height: 6rem;
              width: 10rem;
              transition: transform 0.5s ease-in-out 0.2s;
              &:hover {
                transform: scale(4, 4);
              }
              @media (max-width: 768px) {
                height: 2rem;
                width: 5rem;
              }
            }
          }
        }
      }
    }
  }
  .anuncios__articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .articulo__article {
      width: 40rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      background-color: $color-secundario;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      
      @media (max-width: 768px) {
        width: 30rem;
      }
      .article__foto-venta {
        width: 100%;
      }
      .article__descripcion {
        text-align: justify;
        margin: 1rem;
        @media (max-width: 768px) {
          font-size: 1.6rem;
        }
      }
      .article__ver-anuncio {
        background-color: olivedrab;
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
        transition: transform 0.4s ease-in 0.2s;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }

    }
    h3 {
      margin: 1rem;
    }
    ul {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
        img {
          width: 3.2rem;
        }
      }
    }
  }
}
