.blog-comentarios{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:1400px)
    {
        flex-direction: column;
        align-items: center;
    }
    .blog-comentarios__blog{
        width: 80rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px)
        {
            width: 80vw;
        }
        article{
            width: 100%;
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media(max-width:768px)
            {
                flex-direction: column;
            }
            img{
                width: 30rem;
                border-radius: 1rem;
            }
            div{
                width: 40rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                @media(max-width:768px)
                {
                    text-align: center;
                    width: 100%;
                }
                p{
                    margin: 1rem;
                }
                h3{
                    border-bottom: .5rem solid $color-secundario;
                }
            }
        }
    }
    .blog-comentarios__comentarios{
        width: 60rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        @media(max-width:768px)
        {
            width: 80vw;
        }
        blockquote{
            width: 50%;
            margin:1rem;
            background-color: $color-primario;
            padding: 1rem;
            border-radius: 4rem;
            color:white;
            text-justify: newspaper;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media(max-width:768px)
            {
                width: 100%;
            }


        }
        img{
            width: 6.4rem;
        }
    }
}
