@font-face {
  font-family: fuenteAleBongioanni;
  src: url("../fonts/Ubuntu-Regular.ttf");
}
html {
  background-color: whitesmoke;
  font-family: fuenteAleBongioanni, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 62.5%;
}
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-size: 100%;
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 70vh;
}
header > h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  text-transform: capitalize;
  color: aliceblue;
  margin: 0;
  font-size: 8rem;
}
h2 {
  color: rgb(44, 21, 21, 90%);
  font-size: 5rem;
}
h3 {

  font-size: 3rem;
}
p,span, cite, input, a{
  font-size: 1.6rem;
}
header > div img {
  height: 100px;
  width: 200px;
}
.barra {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-bar{
  display: none;
}
header nav ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
}
header nav ul li a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px;
  font-size: 2rem;
}

.link {
  position: relative;
  padding: 1rem;
  border-radius: 5px;
}

.link:hover {
  background-color: white;
}
.link:hover a {
  color: cadetblue;
}
.sub-lista-enlaces {
  padding-left: 0;
  background-color:white;
  width: 190%;
  display: none;
  position: absolute;
  left: 0;
  top: 4rem;
}
.sub-link {
  padding: 1rem;
}

.sub-link:hover {
  background-color: cadetblue;
}
.sub-link:hover a {
  color: white;
}

.link:hover .sub-lista-enlaces {
  display: block;
  width: 100%;
}

section > h2 {
  text-align: center;
}
.masSobreNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.masSobreNosotros > div > img {
  width: 100px;
  height: 100px;
}
.masSobreNosotros > div {
  border-radius: 20%;
  width: 400px;
  margin: 5px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.masSobreNosotros > div > p {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
article > img {
  padding-top: 10px;
  height: 200px;
  width: 300px;
}
.articulos {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.verAnuncio {
  display: flex;
  background-color: olivedrab;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.articulos > article {
  background-color: mintcream;
  margin: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}
article > ul img {
  height: 32px;
  width: 32px;
}

article > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
article > ul > li {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}
article > ul > li > span {
  text-align: center;
}

.verTodos {
  background-color: orange;
  text-decoration: none;
  padding: 20px;
  color: gainsboro;
  border-radius: 10px;
  text-align: center;
}

.contactanos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  background-image: url("../images/contactanos.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  align-items: flex-start;
}

.contactanos > section h2,
.contactanos > section p {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactanos > section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactanos p {
  font-weight: bold;
  width: 800px;
  color: white;
  margin-left: 5px;
  font-size: 3rem;
}
.contactanos input {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 5px;
  padding: 30px;
  margin-top: 5%;
  background-color: orange;
  text-align: center;
}

footer {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
}
footer nav ul {
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer p {
  padding: 5px;
}
footer nav ul li a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px;
}
.frmContacto {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.frmContacto form {
  width: 30vw;
}
.frmCampos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.frmCampos input,
.frmCampos textarea,
.frmCampos select {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#btnEnviar {
  color: aliceblue;
  background-color: darkseagreen;
}
#btnCancelar {
  color: aliceblue;
  background-color: orangered;
}
fieldset {
  border-radius: 10px;
}
dialog {
  border: none;
  background-color: mintcream;
  border-radius: 20px;
  position: relative;
  bottom: 600px;
}

.blogYComentarios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
}
.blog article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}
.comentarios {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
}
.blogYComentarios > section > article > div {
  text-align: center;
  width: 200px;
}
blockquote > img {
  height: 64px;
}
blockquote {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  border-radius: 40px;
  width: 400px;
  height: 400px;
  background-color: olivedrab;
  color: white;
}
#anuncios {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
thead {
  background-color: cadetblue;
  color: white;
  text-transform: capitalize;
}

th {
  font-size: 1.6rem;
  padding: 3px;
  text-align: center;
}
td {
  border-collapse: collapse;
  padding: 3px;
  text-align: center;
}
tr {
  font-size: 1.3rem;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  text-align: center;
}
tr:nth-of-type(even) {
  background-color: mintcream;
}

#anuncios img {
  height: 60px;
  width: 100px;
  transition-property: height, whidth;
  transition-duration: 4s;
}
#anuncios img:hover {
  width: 500px;
  height: 300px;
}

.ventas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.articuloAnuncios {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.articuloAnuncios > article {
  background-color: mintcream;
  margin: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solicitud {
  display: flex;
  background-color: olivedrab;
  text-decoration: none;
  padding: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.ubicaciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 50px;
  align-items: flex-start;
}

.ubicaciones>section {
  border-bottom: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.ubicacion {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contacto {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contacto > ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacto > ul > li {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}
.contacto > ul > li > a {
  border-radius: 50px;
  text-align: center;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
  color: aliceblue;
}
.verMapa {
  background-color: green;
}
.irSitio {
  background-color: orange;
}
.nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.nosotros > section {
  border-bottom: 2px solid lightblue;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.nosotrosTitulo > img {
  height: 400px;
  width: 600px;
}
.nosotrosDesc {
  padding-top: 40px;
  padding-left: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: justify;
}

.whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0px;
  bottom: 0px;
  left: 500px;
  position: sticky;
}
.miBlog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.miBlog > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.miBlog > div > article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  
}
.quieroMas {
  margin-bottom: 30px;
  background-color: tomato;
  color: aliceblue;
  padding: 20px;
  border-radius: 60px;
}
@media (max-width: 760px) {
  h2 {
    font-size:2rem;
  }
  header h1 {
    padding: 0;
    font-size: 3rem;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lista-enlaces{
    display: none;
    padding: 0;
    
  }
  .nav-bar{
    width: 10vw;;
    display: block;
  }

 nav:hover .lista-enlaces{
  display: flex;
  flex-direction: column;
  align-items: center;
}


  .barra {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .barra > a {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .blog article {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
  }
  .contactanos input {
    margin-top: 0;
    padding: 10px;
    margin-bottom: 10px;
  }
  .blogYComentarios h2 {
    text-align: start;
  }
  .comentarios {
    align-items: flex-start;
  }
  blockquote {
    margin: 0;
    width: 90vw;
    height: 20vh;
  }
  .frmContacto {
    padding: 0;
    justify-content: flex-start;
  }

  .frmCampos {
    width: 8 0vw;
  }
  .frmCampos input,
  .frmCampos textarea,
  .frmCampos select {
    width: 70vw;
  }

  dialog {
    width: 90vw;
  }

  .ventas {
    width: 40vw;
  }
}
