@mixin CrearBoton($tipo) {
  padding: 1rem;
  width: 30%;
  border-radius: 1rem;
  color: aliceblue;
  @if ($tipo == "aceptar") {
    background-color: darkseagreen;
  } @else if($tipo == "cancelar") {
    background-color: orangered;
  }
}

@function AsignarColor($color) {

  @each $indice, $valor in $colores-map {
    @if ($indice == $color) {
      @return $valor;
    }
  }
}

@mixin ClaseDinamica($nombreClase, $cantidad, $atributo, $valorInicial)
{
    @for $i from 1 through $cantidad {
        .#{$nombreClase}-#{$i}{

            #{$atributo}:$valorInicial+$i+rem;
        }
        
    }
}

