@font-face {
  font-family: fuenteAleBongioanni;
  src: url("../fonts/Ubuntu-Regular.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: fuenteAleBongioanni; }

body {
  font-size: 1.6rem;
  background-color: whitesmoke; }

li {
  list-style: none; }

a {
  color: white;
  text-decoration: none; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

@media (max-width: 760px) {
  h1 {
    font-size: 5rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; } }

.tam-fuente-1 {
  font-size: 1rem; }

.tam-fuente-2 {
  font-size: 2rem; }

.tam-fuente-3 {
  font-size: 3rem; }

.tam-fuente-4 {
  font-size: 4rem; }

.tam-fuente-5 {
  font-size: 5rem; }

.tam-fuente-6 {
  font-size: 6rem; }

.tam-fuente-7 {
  font-size: 7rem; }

.tam-fuente-8 {
  font-size: 8rem; }

.tam-fuente-9 {
  font-size: 9rem; }

.tam-fuente-10 {
  font-size: 10rem; }

.tam-fuente-11 {
  font-size: 11rem; }

.tam-fuente-12 {
  font-size: 12rem; }

.tam-fuente-13 {
  font-size: 13rem; }

.tam-fuente-14 {
  font-size: 14rem; }

.tam-fuente-15 {
  font-size: 15rem; }

.tam-fuente-16 {
  font-size: 16rem; }

.tam-fuente-17 {
  font-size: 17rem; }

.tam-fuente-18 {
  font-size: 18rem; }

.tam-fuente-19 {
  font-size: 19rem; }

.tam-fuente-20 {
  font-size: 20rem; }

.tam-fuente-21 {
  font-size: 21rem; }

.tam-fuente-22 {
  font-size: 22rem; }

.tam-fuente-23 {
  font-size: 23rem; }

.tam-fuente-24 {
  font-size: 24rem; }

.tam-fuente-25 {
  font-size: 25rem; }

.tam-fuente-26 {
  font-size: 26rem; }

.tam-fuente-27 {
  font-size: 27rem; }

.tam-fuente-28 {
  font-size: 28rem; }

.tam-fuente-29 {
  font-size: 29rem; }

.tam-fuente-30 {
  font-size: 30rem; }

.tam-fuente-31 {
  font-size: 31rem; }

.tam-fuente-32 {
  font-size: 32rem; }

.tam-fuente-33 {
  font-size: 33rem; }

.tam-fuente-34 {
  font-size: 34rem; }

.tam-fuente-35 {
  font-size: 35rem; }

.tam-fuente-36 {
  font-size: 36rem; }

.tam-fuente-37 {
  font-size: 37rem; }

.tam-fuente-38 {
  font-size: 38rem; }

.tam-fuente-39 {
  font-size: 39rem; }

.tam-fuente-40 {
  font-size: 40rem; }

.tam-fuente-41 {
  font-size: 41rem; }

.tam-fuente-42 {
  font-size: 42rem; }

.tam-fuente-43 {
  font-size: 43rem; }

.tam-fuente-44 {
  font-size: 44rem; }

.tam-fuente-45 {
  font-size: 45rem; }

.tam-fuente-46 {
  font-size: 46rem; }

.tam-fuente-47 {
  font-size: 47rem; }

.tam-fuente-48 {
  font-size: 48rem; }

.tam-fuente-49 {
  font-size: 49rem; }

.tam-fuente-50 {
  font-size: 50rem; }

.tam-fuente-51 {
  font-size: 51rem; }

.tam-fuente-52 {
  font-size: 52rem; }

.tam-fuente-53 {
  font-size: 53rem; }

.tam-fuente-54 {
  font-size: 54rem; }

.tam-fuente-55 {
  font-size: 55rem; }

.tam-fuente-56 {
  font-size: 56rem; }

.tam-fuente-57 {
  font-size: 57rem; }

.tam-fuente-58 {
  font-size: 58rem; }

.tam-fuente-59 {
  font-size: 59rem; }

.tam-fuente-60 {
  font-size: 60rem; }

.tam-fuente-61 {
  font-size: 61rem; }

.tam-fuente-62 {
  font-size: 62rem; }

.tam-fuente-63 {
  font-size: 63rem; }

.tam-fuente-64 {
  font-size: 64rem; }

.tam-fuente-65 {
  font-size: 65rem; }

.tam-fuente-66 {
  font-size: 66rem; }

.tam-fuente-67 {
  font-size: 67rem; }

.tam-fuente-68 {
  font-size: 68rem; }

.tam-fuente-69 {
  font-size: 69rem; }

.tam-fuente-70 {
  font-size: 70rem; }

.tam-fuente-71 {
  font-size: 71rem; }

.tam-fuente-72 {
  font-size: 72rem; }

.tam-fuente-73 {
  font-size: 73rem; }

.tam-fuente-74 {
  font-size: 74rem; }

.tam-fuente-75 {
  font-size: 75rem; }

.tam-fuente-76 {
  font-size: 76rem; }

.tam-fuente-77 {
  font-size: 77rem; }

.tam-fuente-78 {
  font-size: 78rem; }

.tam-fuente-79 {
  font-size: 79rem; }

.tam-fuente-80 {
  font-size: 80rem; }

.tam-fuente-81 {
  font-size: 81rem; }

.tam-fuente-82 {
  font-size: 82rem; }

.tam-fuente-83 {
  font-size: 83rem; }

.tam-fuente-84 {
  font-size: 84rem; }

.tam-fuente-85 {
  font-size: 85rem; }

.tam-fuente-86 {
  font-size: 86rem; }

.tam-fuente-87 {
  font-size: 87rem; }

.tam-fuente-88 {
  font-size: 88rem; }

.tam-fuente-89 {
  font-size: 89rem; }

.tam-fuente-90 {
  font-size: 90rem; }

.tam-fuente-91 {
  font-size: 91rem; }

.tam-fuente-92 {
  font-size: 92rem; }

.tam-fuente-93 {
  font-size: 93rem; }

.tam-fuente-94 {
  font-size: 94rem; }

.tam-fuente-95 {
  font-size: 95rem; }

.tam-fuente-96 {
  font-size: 96rem; }

.tam-fuente-97 {
  font-size: 97rem; }

.tam-fuente-98 {
  font-size: 98rem; }

.tam-fuente-99 {
  font-size: 99rem; }

.tam-fuente-100 {
  font-size: 100rem; }

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 90vh; }
  .header .header__barra {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .header .header__barra a img {
      width: 20rem; }
    .header .header__barra .barra__nav {
      display: flex;
      align-items: center; }
      .header .header__barra .barra__nav .nav__lista-enlaces {
        margin: 1rem;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
        .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__imagen {
          display: none; }
        .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link {
          position: relative;
          padding: 1rem;
          border-radius: 1rem;
          font-size: 2rem; }
          .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link .link__sub-lista-enlaces {
            padding: 0;
            display: none;
            position: absolute;
            width: 100%;
            background-color: white;
            left: 0; }
            .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link .link__sub-lista-enlaces .sub-lista-enlaces__sub-link {
              padding: 1rem;
              text-align: left;
              border-radius: 1rem; }
              .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link .link__sub-lista-enlaces .sub-lista-enlaces__sub-link:hover {
                background-color: cadetblue; }
                .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link .link__sub-lista-enlaces .sub-lista-enlaces__sub-link:hover a {
                  color: white; }
          .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link:hover .link__sub-lista-enlaces {
            display: block; }
          .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link:hover {
            background-color: white; }
            .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link:hover a {
              color: cadetblue; }

@media (max-width: 600px) {
  .header .header__barra {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .header__barra .barra__nav {
      flex-direction: column; }
      .header .header__barra .barra__nav .nav__lista-enlaces {
        margin: .5rem;
        flex-direction: column;
        align-items: center; }
        .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__imagen {
          width: 3.2rem;
          display: block; }
        .header .header__barra .barra__nav .nav__lista-enlaces:hover .lista-enlaces__link {
          padding: .5rem;
          display: block; }
        .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link {
          margin: 0;
          display: none; }
          .header .header__barra .barra__nav .nav__lista-enlaces .lista-enlaces__link .link__sub-lista-enlaces .sub-lista-enlaces__sub-link {
            padding: .5rem; } }

.section-nosotros {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .section-nosotros .section-nosotros__mas-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .section-nosotros .section-nosotros__mas-nosotros div {
      margin: 1rem;
      background-color: cadetblue;
      color: white;
      border-radius: 5rem;
      padding: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40rem; }
      .section-nosotros .section-nosotros__mas-nosotros div img {
        width: 30%;
        height: 30%; }
      .section-nosotros .section-nosotros__mas-nosotros div h3 {
        margin: 1rem; }
      .section-nosotros .section-nosotros__mas-nosotros div p {
        text-align: justify;
        margin: 1rem; }

.main-articulos {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .main-articulos .main-articulos__articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main-articulos .main-articulos__articulos .articulos__articulo {
      width: 40rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      background-color: mintcream;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }
      .main-articulos .main-articulos__articulos .articulos__articulo .articulo__foto-venta {
        width: 100%; }
      .main-articulos .main-articulos__articulos .articulos__articulo .articulo__descripcion {
        text-align: center;
        text-justify: distribute-all-lines;
        margin: 1rem; }
      .main-articulos .main-articulos__articulos .articulos__articulo .articulo__ver-anuncio {
        background-color: olivedrab;
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
        transition: transform 0.4s ease-in 0.2s; }
        .main-articulos .main-articulos__articulos .articulos__articulo .articulo__ver-anuncio:hover {
          transform: scale(1.1, 1.1); }
    .main-articulos .main-articulos__articulos h3 {
      margin: 1rem; }
    .main-articulos .main-articulos__articulos ul {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .main-articulos .main-articulos__articulos ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem; }
        .main-articulos .main-articulos__articulos ul li img {
          width: 3.2rem; }
  .main-articulos .main-articulos__ver-todos {
    background-color: orange;
    margin: 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    transition: transform 0.4s ease-in 0.2s; }
    .main-articulos .main-articulos__ver-todos:hover {
      transform: scale(1.1, 1.1); }

.whatsapp {
  bottom: 10vh;
  right: 1vw;
  position: fixed; }
  .whatsapp img {
    width: 6.4rem; }

.contactanos {
  padding: 1rem;
  margin-top: 1rem;
  background-image: url("../images/contactanos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .contactanos div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; }
    .contactanos div h2 {
      width: 80vw;
      margin-bottom: 20rem; }
    .contactanos div p {
      color: rgba(0, 0, 0, 0.631);
      font-size: 2rem; }
  .contactanos .contactanos__btn-contactanos {
    animation-name: animarBoton;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    margin-top: 1rem;
    text-align: center;
    border-radius: 1rem;
    padding: 3rem;
    background-color: orange; }

@keyframes animarBoton {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.contacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacto .contacto__dialog {
    position: fixed;
    bottom: 2vh;
    left: 35vw;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    width: 30vw;
    background-color: mintcream; }
    @media (max-width: 1300px) {
      .contacto .contacto__dialog {
        width: 50vw;
        left: 30vw; } }
    @media (max-width: 768px) {
      .contacto .contacto__dialog {
        width: 90vw;
        left: 5vw; } }
    .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset {
      border: solid 0.1rem cadetblue;
      border-radius: 1rem; }
      .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__legend {
        color: cadetblue; }
      .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap; }
        @media (max-height: 700px) {
          .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos {
            padding: .5rem;
            margin: .3rem; } }
        .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__ingresos {
          border: solid 0.1rem cadetblue;
          margin: 1rem;
          border-radius: 0.5rem;
          padding: 1rem;
          width: 50%; }
          @media (max-height: 700px) {
            .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__ingresos {
              padding: .5rem;
              margin: .3rem; } }
        .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__texto {
          border: solid 0.1rem cadetblue;
          margin: 1rem;
          border-radius: 0.5rem;
          width: 80%; }
          @media (max-height: 700px) {
            .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__texto {
              margin: .3rem; } }
        .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__btn {
          width: 100%;
          margin: 1rem;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around; }
          .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__btn .btn__btn-enviar {
            /*se agrega funcion para dar formato al btn*/
            padding: 1rem;
            width: 30%;
            border-radius: 1rem;
            color: aliceblue;
            background-color: darkseagreen; }
            @media (max-width: 768px) {
              .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__btn .btn__btn-enviar {
                margin: 1rem;
                width: 60%; } }
          .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__btn .btn__btn-cancelar {
            /*se agrega funcion para dar formato al btn*/
            padding: 1rem;
            width: 30%;
            border-radius: 1rem;
            color: aliceblue;
            background-color: orangered; }
            @media (max-width: 768px) {
              .contacto .contacto__dialog .dialog__frm-contacto .frm-contacto__fieldset .fieldset__frm-campos .frm-campos__btn .btn__btn-cancelar {
                width: 60%; } }

.blog-comentarios {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1400px) {
    .blog-comentarios {
      flex-direction: column;
      align-items: center; } }
  .blog-comentarios .blog-comentarios__blog {
    width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .blog-comentarios .blog-comentarios__blog {
        width: 80vw; } }
    .blog-comentarios .blog-comentarios__blog article {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 768px) {
        .blog-comentarios .blog-comentarios__blog article {
          flex-direction: column; } }
      .blog-comentarios .blog-comentarios__blog article img {
        width: 30rem;
        border-radius: 1rem; }
      .blog-comentarios .blog-comentarios__blog article div {
        width: 40rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; }
        @media (max-width: 768px) {
          .blog-comentarios .blog-comentarios__blog article div {
            text-align: center;
            width: 100%; } }
        .blog-comentarios .blog-comentarios__blog article div p {
          margin: 1rem; }
        .blog-comentarios .blog-comentarios__blog article div h3 {
          border-bottom: 0.5rem solid mintcream; }
  .blog-comentarios .blog-comentarios__comentarios {
    width: 60rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 768px) {
      .blog-comentarios .blog-comentarios__comentarios {
        width: 80vw; } }
    .blog-comentarios .blog-comentarios__comentarios blockquote {
      width: 50%;
      margin: 1rem;
      background-color: cadetblue;
      padding: 1rem;
      border-radius: 4rem;
      color: white;
      text-justify: newspaper;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 768px) {
        .blog-comentarios .blog-comentarios__comentarios blockquote {
          width: 100%; } }
    .blog-comentarios .blog-comentarios__comentarios img {
      width: 6.4rem; }

.footer {
  background-color: cadetblue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem; }
  @media (max-width: 768px) {
    .footer {
      justify-content: center; } }
  .footer .footer__nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; }
    @media (max-width: 768px) {
      .footer .footer__nav ul {
        justify-content: center; } }
    .footer .footer__nav ul li {
      padding: 1rem;
      border-radius: 1rem;
      font-size: 2rem;
      margin: 1rem; }
      @media (max-width: 768px) {
        .footer .footer__nav ul li {
          font-size: 1.6rem;
          padding: .5rem;
          margin: 0.5rem; } }
      .footer .footer__nav ul li:hover {
        background-color: white; }
        .footer .footer__nav ul li:hover a {
          color: cadetblue; }

.anuncios {
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .anuncios {
      flex-direction: column;
      align-items: center;
      margin: 1rem; } }
  @media (max-width: 768px) {
    .anuncios .anuncios__table {
      font-size: 1rem;
      margin: 1rem; } }
  .anuncios .anuncios__table table thead {
    background-color: cadetblue; }
    @media (max-width: 768px) {
      .anuncios .anuncios__table table thead tr {
        padding: 0.1rem; } }
    .anuncios .anuncios__table table thead tr th {
      padding: 1rem;
      color: white; }
      @media (max-width: 768px) {
        .anuncios .anuncios__table table thead tr th {
          padding: 0.1rem; } }
  .anuncios .anuncios__table table tbody tr {
    padding: 1rem; }
    @media (max-width: 768px) {
      .anuncios .anuncios__table table tbody tr {
        padding: 0.1rem; } }
    .anuncios .anuncios__table table tbody tr:nth-of-type(even) {
      background-color: rgba(245, 255, 250, 0.5); }
    .anuncios .anuncios__table table tbody tr td {
      cursor: pointer; }
      @media (max-width: 768px) {
        .anuncios .anuncios__table table tbody tr td {
          width: 10vw; } }
      .anuncios .anuncios__table table tbody tr td img {
        height: 6rem;
        width: 10rem;
        transition: transform 0.5s ease-in-out 0.2s; }
        .anuncios .anuncios__table table tbody tr td img:hover {
          transform: scale(4, 4); }
        @media (max-width: 768px) {
          .anuncios .anuncios__table table tbody tr td img {
            height: 2rem;
            width: 5rem; } }
  .anuncios .anuncios__articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .anuncios .anuncios__articulo .articulo__article {
      width: 40rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      background-color: mintcream;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }
      @media (max-width: 768px) {
        .anuncios .anuncios__articulo .articulo__article {
          width: 30rem; } }
      .anuncios .anuncios__articulo .articulo__article .article__foto-venta {
        width: 100%; }
      .anuncios .anuncios__articulo .articulo__article .article__descripcion {
        text-align: justify;
        margin: 1rem; }
        @media (max-width: 768px) {
          .anuncios .anuncios__articulo .articulo__article .article__descripcion {
            font-size: 1.6rem; } }
      .anuncios .anuncios__articulo .articulo__article .article__ver-anuncio {
        background-color: olivedrab;
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: 1rem;
        transition: transform 0.4s ease-in 0.2s; }
        .anuncios .anuncios__articulo .articulo__article .article__ver-anuncio:hover {
          transform: scale(1.1, 1.1); }
    .anuncios .anuncios__articulo h3 {
      margin: 1rem; }
    .anuncios .anuncios__articulo ul {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .anuncios .anuncios__articulo ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem; }
        .anuncios .anuncios__articulo ul li img {
          width: 3.2rem; }

.blog {
  text-align: center;
  margin: 1rem; }
  .blog .blog__articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .blog .blog__articulos {
        flex-direction: column;
        align-items: center; } }
    .blog .blog__articulos .articulos__articulo {
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      @media (max-width: 768px) {
        .blog .blog__articulos .articulos__articulo {
          width: 100%; } }
      .blog .blog__articulos .articulos__articulo .articulo__imagen {
        width: 40rem;
        border-radius: 1rem; }
        @media (max-width: 576px) {
          .blog .blog__articulos .articulos__articulo .articulo__imagen {
            width: 100%; } }
      .blog .blog__articulos .articulos__articulo .articulo__detalle {
        width: 40rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; }
        .blog .blog__articulos .articulos__articulo .articulo__detalle h3 {
          margin: 0.5rem; }
        .blog .blog__articulos .articulos__articulo .articulo__detalle p {
          margin: 0.5rem; }
        @media (max-width: 576px) {
          .blog .blog__articulos .articulos__articulo .articulo__detalle {
            width: 100%; } }
      .blog .blog__articulos .articulos__articulo .articulo__btn {
        margin: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: mintcream;
        color: cadetblue; }

.ubicaciones {
  padding: 1rem; }
  .ubicaciones .ubicaciones__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.2rem cadetblue solid; }
    .ubicaciones .ubicaciones__section .section__ubicacion {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .ubicaciones .ubicaciones__section .section__ubicacion .ubicacion__mapa {
        width: 60rem;
        height: 20rem;
        border: 0;
        border-radius: 1rem; }
        @media (max-width: 768px) {
          .ubicaciones .ubicaciones__section .section__ubicacion .ubicacion__mapa {
            width: 90vw; } }
      .ubicaciones .ubicaciones__section .section__ubicacion p {
        margin: 1rem; }
    .ubicaciones .ubicaciones__section .section__contacto {
      margin-left: 30rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center; }
      @media (max-width: 1200px) {
        .ubicaciones .ubicaciones__section .section__contacto {
          margin-left: 1rem; } }
      .ubicaciones .ubicaciones__section .section__contacto p {
        margin-top: 1rem; }
      .ubicaciones .ubicaciones__section .section__contacto ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; }
        .ubicaciones .ubicaciones__section .section__contacto ul li {
          background-color: cadetblue;
          padding: 2rem;
          margin-top: 1rem;
          margin-right: 1rem;
          border-radius: 1rem; }

.nosotros {
  margin-top: 3rem; }
  .nosotros .nosotros__section {
    margin-bottom: 3rem; }
    @media (max-width: 768px) {
      .nosotros .nosotros__section {
        text-align: center; } }
    .nosotros .nosotros__section .section__contenido {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;
      justify-content: space-between; }
      @media (max-width: 768px) {
        .nosotros .nosotros__section .section__contenido {
          justify-content: center; } }
      .nosotros .nosotros__section .section__contenido .contenido__imagen {
        width: 50rem;
        border-radius: 1rem; }
        @media (max-width: 768px) {
          .nosotros .nosotros__section .section__contenido .contenido__imagen {
            width: 90vw; } }
      .nosotros .nosotros__section .section__contenido .contenido__descripcion {
        margin-top: .5rem;
        margin-right: 3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100rem;
        border-bottom: 0.5rem solid mintcream;
        text-align: justify; }
        @media (max-width: 768px) {
          .nosotros .nosotros__section .section__contenido .contenido__descripcion {
            width: 90vw; } }

.section__contenido--reverse {
  box-shadow: 2.5rem 1rem 1rem cadetblue; }
  @media (min-width: 1530px) {
    .section__contenido--reverse {
      flex-direction: row-reverse; } }
